@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@keyframes selectAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

body{
    font-family:'Quicksand', sans-serif;
}
#navbarNav{
    font-weight: 700;
}
#profile{
    font-weight: 1000;
    font-size: xx-large;
    color: #c4fc91;
    border: 0;
}
#Picture img{
    margin-top: 30px;
    width: 70%;
    border-radius: 50%;
    /* box-shadow: -2px 2px 73px 8px rgba(245,238,99,0.75);
-webkit-box-shadow: -2px 2px 73px 8px rgba(245,238,99,0.75);
-moz-box-shadow: -2px 2px 73px 8px rgba(245,238,99,0.75); */

}
/* #Picture img:hover{
    width: 60%;
    border-radius: 50%;
    box-shadow: -2px 2px 73px 8px rgba(245,238,99,0.75);
-webkit-box-shadow: -2px 2px 73px 8px rgba(245,238,99,0.75);
-moz-box-shadow: -2px 2px 73px 8px rgba(245,238,99,0.75);
animation-name: selectAnimation;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite ;
} */
#Picture h2{
    font-size: 4rem;
    font-weight: 700;
    
}
#Picture h3{
    font-size: 2rem;
    font-weight: 700;
    opacity: .7;
    color: #0000008f;
}
#Picture p{
    line-height: 1.9;
}
#menu{
    color: rgb(223, 144, 144);
    font-size: larger
}
#latter{
    font-size: 1rem;
    font-weight: 700;
}
#hey{
    margin-top: 30px;
}
section{
    margin: 5rem 0;
}
#About-me h3, #Education h3, #Experience h3{
    font-size: 2rem;
    font-weight: 700;

}
.Text-info{
    text-align: center;
}
#image1{
    width: 90%;
    height: auto;

}
#image2{
    width: 50%;
    height: auto;
    align-content: center;
    margin-bottom: 2rem;
}
.social-Link{
    margin-top: 1rem;
    display: flex;
}
.social-Link .link-List{
    width: 60px;
    height: 60px;
    background-color:gray;
    border-radius: 50%;
    margin-left: 0.7rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.facebook:hover{
    background-color: rgb(47, 47, 228) !important;
}
.Instagram:hover{
    background-color: rgb(247, 32, 229) !important;
}
.Telegram:hover{
    background-color: rgb(14, 178, 228) !important;
}
.Youtube:hover{
    background-color: rgb(248, 27, 27) !important;
}
.education-title{
    font-weight: 600;
    font-size: 1.2rem;
}
#Education p{
    line-height: 0.8rem;
}
#Education .education-major{
    opacity: .5;
    font-size: 1rem;
    font-style: italic;
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 768px) {
    #Picture h2{
        font-size: 2.7rem;
    }
    section{
        margin: 2rem 0;
    }
    #Picture img{
        margin-bottom: 2rem;
    }
    #hey button{
        display: none;
    }
    #contact iframe{
        margin-top: 2rem;
    }
  }
  .carousel-item img{
    height: 200px;
    width: 100px;
  }